@model IEnumerable<Domain.Entities.Story>
@using GridMvc.Html

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@Html.Grid(Model).Columns(columns =>
        {
            columns.Add(o => o.Title)
                .SetWidth(300)
                .Filterable(true)
                .Sortable(true)
                .Sanitized(false)
                .Encoded(false)
                .Titled("Title")
                .RenderValueAs(model => Html.ActionLink(model.Title, "Details", new { id=model.StoryID }, null).ToHtmlString());

            columns.Add(o => o.Content)
                .SetWidth(300)
                .Filterable(true)
                .Sortable(true)
                .Titled("Content");

            columns.Add(o => o.PostedOn)
                .SetWidth(300)
                .Filterable(true)
                .Sortable(true)
                .Titled("Posted On");

            columns.Add(o => o.StoryID)
                .Titled("")
                .Filterable(false)
                .Sanitized(false)
                .Encoded(false)
                .RenderValueAs(model => Html.ActionLink("Edit", "Edit", new { id=model.StoryID }, null).ToHtmlString());
        }).WithPaging(1000)

