@model Domain.Entities.Group

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Group</h4>
    <hr /></div>
    <div class="card card-block">
        <h4 class="card-title">@Html.DisplayFor(model => model.Name)</h4>
        <p class="card-text">@Html.DisplayFor(model => model.Description)</p>
        <a href="#" class="btn btn-primary" @Html.ActionLink("Edit", "Edit", new { id = Model.GroupID })</a>
        <a href="#" class="btn btn-primary"@Html.ActionLink("Back to List", "Index")</a>
    </div>
