@model IEnumerable<Domain.Entities.Group>
@using GridMvc.Html

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@Html.Grid(Model).Columns(columns =>
        {
            columns.Add(o => o.Name)
                .SetWidth(300)
                .Filterable(true)
                .Sortable(true)
                .Sanitized(false)
                .Encoded(false)
                .Titled("Name")
                .RenderValueAs(model => Html.ActionLink(model.Name, "Details", new { id=model.GroupID }, null).ToHtmlString());

            columns.Add(o => o.Description)
                .SetWidth(300)
                .Filterable(true)
                .Sortable(true)
                .Titled("Description");

            columns.Add(o => o.GroupID)
                .Titled("")
                .Filterable(false)
                .Sanitized(false)
                .Encoded(false)
                .RenderValueAs(model => Html.ActionLink("Edit", "Edit", new { id=model.GroupID }, null).ToHtmlString());
        }).WithPaging(1000)

